{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "REPLACE_WITH_YOUR_FIREBASE_PROJECT_ID",
    "storage_bucket": "REPLACE_WITH_YOUR_FIREBASE_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:REPLACE_WITH_YOUR_APP_ID",
        "android_client_info": {
          "package_name": "cl.bovedawilson.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_YOUR_PUBLIC_CLIENT_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
